<%= form_for @entry, html: { multipart: true } do |f| %>

  <% if @entry.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <% if @entry.avatar_url %>
      <p>Current file: <%= image_tag(@entry.avatar_url) %></p>
    <% end %>

    <div class="row">
      <div class="field col-md-4 fake-button">
        <img id="img_prev" src="#" alt="your image" class="img-thumbnail hidden"> <br/>
        <span class="carrierwave-wave-field">
          <i class="fa fa-camera-retro" id="camera-upload" aria-hidden="true"></i>
          <h1>Select File</h1>
          <%= f.file_field :avatar, id: "avatar-upload" %>
        </span>
      </div>

      <div class="field col-md-4 col-md-offset-1">
        <%= f.text_area :story, size: "50x15", placeholder: "Tell us the story!", id: "story-box" %>
      </div> <br>
  </div>

  <div class="actions submit-right col-md-2 col-md-offset-9">
    <%= f.submit 'Submit' %>
  </div>

<% end %>
