<%= form_for @entry, html: { multipart: true } do |f| %>

  <% if @entry.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



    <p>Current file: <%= image_tag(@entry.avatar_url) %></p>


    <div class="field">
      <%= f.label :avatar, "Image File" %>
      <%= f.file_field :avatar %>
    </div>




  <div class="field">
    <%= f.label :story %> <br>
    <%= f.text_area :story, size: "100x10" %>
  </div> <br>

  <div class="actions action-left">
    <%= f.submit 'Submit' %>
  </div>

<% end %>
