<%= form_for @entry, html: { multipart: true } do |f| %>

  <% if @entry.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @entry.avatar %>
    <p>Original file: <%= image_tag(@entry.avatar_url) %></p>

    <p>Replace file?</p>
    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </div> <br>

  <% else %>
    <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div> <br>

  <% end %>


  <div class="field">
    <%= f.label :story %> <br>
    <%= f.text_field :story %>
  </div> <br>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>

<% end %>
