<div class="container-fluid all-entries">

  <div class="row">
    <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 entry-top-text">
      <h1>CAST YOUR VOTE</h1>
      <h4>What's Your Canada? Cast your vote now to send one lucky expat back to the great Canadian wilderness in Muskoka.</h4>
      <br>
      <h4>Have an even better story to share?</h4>
      <div class="submit-button">
        <%= link_to "SUBMIT YOUR ENTRY", new_entry_path, class:"button-main" %>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <img id="logo-vote" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg">
    </div>
  </div>
  <div class="row-wrapper">

    <% @entries.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |entry| %>
            <div class="col-md-3 col-sm-6 col-xs-12 all-images" data-link="<%= entry_path(entry) %>">
              <% if entry.filter %>
                <%= link_to image_tag(entry.filter), lazy: true %>
              <% else %>
                <%= link_to image_tag(entry.avatar_url), lazy: true %>
              <% end %>
              <div class="hover-content-smaller-top">
                <span class="hover-user smaller"><%= entry.user.name %></span><br>
                <span class="hover-title smaller">
                  <% if entry.title %>
                    <%= entry.title %>
                  <% else %>
                    This is my Canada
                  <% end %>
                </span><br>
                <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span>
              </div>
              <div class="hover-content-smaller">
                <span class="hover-share">SHARE</span><br>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
