<div class="container-fluid all-entries">

  <div class="row">
    <div class="col-md-7 col-md-offset-1 entry-top-text">
      <h1>CAST YOUR VOTE</h1>
      <h4>Donec bibendum accumsan fringilla. Sed quam magna, viverra sit amet volutpat blandit, consequat in nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</h4>
      <br>
      <h4>Have an even better story to share?</h4>
      <div class="submit-button">
        <%= link_to "SUBMIT YOUR ENTRY", new_entry_path(current_user) %>
      </div>
    </div>
    <div class="col-md-3">
      <img id="logo-vote" src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg">
    </div>
  </div>
  <div class="row-wrapper">

    <% @entries.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |entry| %>
            <div class="col-md-3 all-images" data-link="<%= entry_path(entry) %>">
              <% if entry.filter %>
                <%= link_to image_tag(entry.filter) %>
              <% else %>
                <%= link_to image_tag(entry.avatar_url) %>
              <% end %>
              <div class="hover-content-smaller-top">
                <span class="hover-user smaller"><%= entry.user.name %></span><br>
                <span class="hover-title smaller">TITLE HEADER POST</span><br>
                <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.count %> VOTES </h3></span>
              </div>
              <div class="hover-content-smaller">
                <span class="hover-share">SHARE</span><br>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
