<div class="container-fluid entry-show-main">

  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 this-is">
    <div class="row this-is-row">
      <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2 this-is-text">
        <span class="left-bracket"><%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483477142/Brackets-05_vx1mwe.svg") %></span>
        <h1>This is<br>
           <%= @entry.name.partition(" ").first %>'s</h1>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 maple-leaf">
        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483475882/RTO12Logo_01-03_qybe52.svg") %>
        <span class="right-bracket"><%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483477142/Brackets-08_inh4io.svg") %></span>
      </div>
    </div>

  </div>

  <% if @entry.filter %>

  <style media="screen">
    .entry-show-main { background-image: url(<%= @entry.filter %>); }
  </style>

  <% else %>

  <style media="screen">
    .entry-show-main { background-image: url(<%= @entry.avatar_url %>); }
  </style>

  <% end %>

</div>

<div class="container-fluid entry-show-main-bottom">
  <div class="row entry-show-bottom">
    <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 entry-image-focus">
      <% if @entry.filter %>
        <%= image_tag(@entry.filter) %>
      <% else %>
        <%= image_tag(@entry.avatar_url) %>
      <% end %>
    </div>
    <div class="col-md-5 col-sm-5 entry-story">
      <h1>Story Title</h1>
      <%= @entry.story %>
      <h4><em>- <%= @entry.name %></em></h4>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 voting status">
    <div class="vote-count row">
      <h2>Total Votes: <%= @entry.votes.where(email_confirmed: true).count %></h2>
    <% if current_user && current_user.vote %>
      <% if current_user.vote.entry_id == @entry.id %>
        <h1>Voted</h1>
      <% end %>
      <h3>You have already cast your vote. To delete your previous vote, visit your profile page.</h3>
    <% elsif current_user && current_user.entry == @entry %>
      <h2>This is your submission </h2>
    </div>
    </div>
    <% else %>
    <div class="row">
      <button type="button" class="button-main" data-toggle="modal" data-target="#voteModal">
        Vote for <%= @entry.name.partition(" ").first %>
      </button>
    </div>

      <!-- Modal -->
      <div class="modal fade" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">CAST YOUR VOTE</h3>
            </div>
            <div class="modal-body">
              <%= form_for([@entry, @vote]) do |f| %>
                  <%= f.text_field :email, required: true, class:"well email-well" %><br><br>
                  <%= f.submit "Vote for #{@entry.name.partition(" ").first}", class:"button-main", id:"vote-for" %>
                  <h4>You will be emailed a link to validate your vote. Please check your inbox to complete the voting process</h4>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid share-section">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 take-the-quiz">
        <div class="test-your-knowledge">
          <h2>TEST YOUR CANADIANA KNOWLEDGE & GIVE 10 EXTRA VOTES TO <%= @entry.name.partition(" ").first.upcase %></h2>
          <button>TAKE THE QUIZ</button>
        </div>
      </div>
    </div>
  </div>

    <% end %>


</div>
