<h1>Entries#show</h1>

<% if @entry.filter %>
  <%= image_tag(@entry.filter) %>
<% else %>
  <%= image_tag(@entry.avatar_url) %>
<% end %>

<%= @entry.story %>

<%= form_for [@entry, @vote] do |f| %>
  <%= f.submit "Vote" %>
<% end %>
