<div class="container-fluid entry-show-main">

  <div class="this-is">
    <div class="row this-is-row">
      <div class="col-md-2 this-is-text">
        <h1>This is<br>
           <%= @entry.name %>'s</h1>
      </div>
      <div class="col-md-3">
        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483475882/RTO12Logo_01-03_qybe52.svg") %>
      </div>
    </div>
  </div>

  <% if @entry.filter %>

  <style media="screen">
    .entry-show-main { background-image: url(<%= @entry.filter %>); }
  </style>

  <% else %>

  <style media="screen">
    .entry-show-main { background-image: url(<%= @entry.avatar_url %>); }
  </style>

  <% end %>

</div>

<div class="container-fluid entry-show-main-bottom">
  <div class="row entry-show-bottom">
    <div class="col-md-5 col-md-offset-1 entry-image-focus">
      <% if @entry.filter %>
        <%= image_tag(@entry.filter) %>
      <% else %>
        <%= image_tag(@entry.avatar_url) %>
      <% end %>
    </div>
    <div class="col-md-5 entry-story">
      <h1>Story Title</h1>
      <%= @entry.story %>
    </div>
  </div>


  <% if current_user.vote %>
    <% if current_user.vote.entry_id == @entry.id %>
      <h1>Voted</h1>
    <% end %>
    <h3>You have already cast your vote. Retract your previous vote by visiting your profile page </h3>
  <% elsif current_user.entry == @entry %>
    <h2>This is your submission </h2>
  <% else %>
    <%= form_for [@entry, @vote] do |f| %>
      <%= f.submit "Vote" %>
    <% end %>
  <% end %>

</div>
