<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "First Name" %>
  </div> <br>

  <div class="field">
    <%= f.text_field :email, placeholder: "Email" %>
  </div> <br>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  </div><br>

  <div class="field t_c">
    <h5>By clicking Submit you acknowledge and agree to our <a class="text-link" href="#">Terms & Conditions</a></h5>
    <%#= f.label :terms_of_service %>
    <%#= f.check_box :terms_of_service %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
    <% end %>

  </div>
