<div class="about-main">

  <!-- <section class="about-hero">
    <div class="container">
      <div class="col-md-6 col-md-offset-4 about-section-one">
        <h1>Explore with us.</h1>
      </div>
    </div>
  </section> -->

  <section class="about-intro">
    <div class="container intro-container">
      <div class="col-md-8 col-md-offset-2 intro-text-wrapper">
        <h1>Explore with us.</h1>
        <h3>Meet the true north, the great Canadian wilderness - the Muskoka Region. Gaze under the stars, canoe for a day with friends, and sit by the dock relaxing. Explore your Canada.</h3>
        <h3>Need to escape the city without sacrificing comfort? Muskoka can be your home away from home, in the beautiful Canadian landscape.</h3>
        <h3>Come create true north memories with us - bring your friends, families and adventurous spirit.</h3>
      </div>
    </div>
  </section>

  <section class="about-stay">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-column wood-column">
          <h1>Stay</h1>
          <h3>Log cabins. Cottage resorts. Bed and breakfasts, camping, inns and more - you can have your choice of accommodation in the Muskoka Region.</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485102436/LogCabin_vwixrp.png", class:"polaroid") %>
        </div>
      </div>
    </div>
  </section>

  <section class="about-paddle">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485102432/Paddling_r6tps9.png", class:"polaroid") %>
        </div>
        <div class="col-md-6 col-md-offset-1 text-column wood-column">
          <h1>Paddle</h1>
          <h3>Canoe and kayak surrounded by breathtaking shoreline of towering cliffs and granite islands along Georgian Bay.<br><br> Take to the water at anytime, with rentals, guided excursions, lessons or your own equipment. Discover your Canada now.</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="about-beer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-column wood-column">
          <h1>Craft Beer & Wine</h1>
          <h3>Cleanse your palate with a trip to one of our four award-winning craft breweries, or unwind at our award-winning winery. Don’t just explore the true north with us, refresh yourself with exquisite locally sourced food and drinks.</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485102436/Craft_zht7pb.png", class:"polaroid") %>
        </div>
      </div>
  </section>

  <section class="about-golf">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485102429/Golf_hqpemf.png", class:"polaroid") %>
        </div>
        <div class="col-md-6 col-md-offset-1 text-column wood-column">
          <h1>Golf</h1>
          <h3>Just because you’re away from home doesn’t mean your golf game needs to suffer.<br><br> With ample award-winning courses featuring the varied terrain of the Canadian Shield, including lush forests, granite bluffs and shimmering blue lakes and rivers, you’ll never want to play elsewhere again.</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="about-spa">
    <div class="container">
      <div class="row">
        <div class="col-md-7 text-column wood-column">
          <h1>Spa</h1>
          <h3>Sometimes you just need to get away. Have a masseuse come to your home, cottage or resort suite. Pamper yourself. Indulge today in Muskoka Region.</h3>
        </div>
        <div class="col-md-4">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485102435/Spa_mztugm.png", class:"polaroid") %>
        </div>
      </div>
    </div>
  </section>


</div>
