

  <section class="top-section">
    <div class="container">
      <div class="row">
        <div class="logo col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <div class="hero-images">
            <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485797844/RTO12Logo_Angled_NEW-01_m8ufwu.svg") %>
          </div>
        </div>
      </div>
      <div class="enter-now-container">
        <a class="button-main" id="hero-button" href="#enter-now">ENTER NOW</a>
      </div>
        <!-- <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-4 col-xs-2 col-xs-offset-4 enter-now-container">
          <a class="button-main" id="hero-button" href="#enter-now">ENTER NOW</a>
        </div> -->
    </div>
  </section>

  <section class="your-adventure">
    <div class="brackets col-md-7 col-md-offset-1 col-sm-8 col-xs-8">
      <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483453823/Section2_Brackets-01_x2wsgv.png") %>
      <div class="bracket-text">
        <h1>YOUR CANADA.<br>
            YOUR ADVENTURE.</h1>
        <h3>For Canada’s 150th, Explorer’s Edge is challenging Canadian expats to show their pride, show us your home, and show us your Canada.<br>
        Share your favourite true north memory for a chance to win a vacation for 4 back to the great Canadian wilderness in Muskoka. Celebrate Canada’s 150th with us.<br>
        <a href="#" class="text-link-emphasis">Click here</a> for complete details and terms of entry.</h3>
      </div>
    </div>
  </section>

  <section class="how-to-win">
    <div class="container">
      <div class="row wrapper">
        <div class="col-md-5 col-sm-12">
          <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485119561/RTO_Ad_Campaign_Version3_Rough_01-03_jf569r.jpg", class:"polaroid-home") %>
        </div>
        <div class="col-md-7 col-sm-12">
          <h1>How do you win?</h1>
          <h3>It's Canada's year. And we need you to tell the world.</h3>
          <p>We are looking for Canada's greatest export. You are the Canadian living abroad who still remembers summers spent on the lake and falls spent canoeing through the foliage. We're compiling Canadian stories about what makes Canada great- what makes it <em>your</em> Canada.</p>
          <br>
          <h3 class="prize">The entry with the most votes will win a vacation for 4 to the great Canadian wilderness in Muskoka!<h3>
        </div>
      </div>
    </div>
  </section>

  <section class="enter-to-win">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <ul class="rules">
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                  <p>Sign Up<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                  <p class="instructions">Submit your entry with a photo and short story – don’t forget to choose your filter<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                  <p class="instructions-small">Share your entry for a chance to win<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485128526/Checkmark-01_zojxsb.svg") %>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-9">
                  <p class="instructions-small">Check back on your votes, and keep sharing<p>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="col-md-5 col-sm-5">
          <h1 id="enter-now">ENTER TO WIN</h1>
          <p class="below">Sign up below to get started!</p>
          <div class="signup-form">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="choose-canada">
    <div class="container-fluid">
      <div class="green-board">
        <div class="col-md-8 col-md-offset-2 board-text">
          <h2>CHOOSE YOUR CANADA</h2>
          <h1>CAST YOUR VOTE</h1>
          <a class="button-main" href="/entries">Vote for Your Canada</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid entries-last-six">
    <div class="row flex-md-top">
    <% @entries.last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

      <% if entry.filter_no_hashtag %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.filter_no_hashtag %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% else %>
      <style>
        #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
      </style>
      <% end %>
        <%#= image_tag(entry.filter) %>
        <%#= cl_image_tag(entry.filter, :width => 800, :height => 400, :crop => "fill") %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is my Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", entry_path(entry) %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-middle">
    <% @entries.offset(2).last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

        <% if entry.filter_no_hashtag %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is my Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", entry_path(entry) %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-bottom">
    <% @entries.offset(4).last(2).each do |entry| %>
      <div class="col-md-6 image-block" id="image<%= entry.id %>" data-link="<%= entry_path(entry) %>">

        <% if entry.filter_no_hashtag %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.filter %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% else %>
        <style>
          #image<%= entry.id %> { background-image: url(<%= entry.avatar_url %>); background-size: cover; height: 400px; background-repeat: no-repeat; background-position: center center;}
        </style>
        <% end %>

        <%#= image_tag(entry.filter) %>
        <div class="hover-content-top">
          <span class="hover-user"><%= entry.user.name %></span><br>
          <span class="hover-title"><h3>
            <% if entry.title %>
            <%= entry.title %>
            <% else %>
            This is my Canada
            <% end %>
          </h3></span><br>
          <span class="hover-votes"><h3><i class="fa fa-heart-o" aria-hidden="true"></i><%= entry.votes.where(email_confirmed: true).count %> VOTES </h3></span><br>
        </div>
        <div class="hover-content-bottom">
          <span class="hover-share">SHARE</span><br>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="hover-content-bottom-right">
          <%= link_to "SEE MORE", entry_path(entry) %>
        </div>
      </div>
    <% end %>
    </div>
  </section>

  <section class="more-posts">
    <div class="more-posts-button">
      <%= link_to "More Posts", entries_path %>
    </div>
  </section>

  <section class="tourism-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>This is Our Canada – This is Our True North</h1>
        <h3>How do we experience Canada? We’ve rounded up the best true north experience.<br><br>
        Sign up now to learn how you can relive your best-cherished memories.</h3>
        <div class="field footer-input">
          <input placeholder="Email">
        </div>
        <div class="button-container">
          <a class="button-main">Sign me up.</a>
        </div>
      </div>
      </div>
    </div>
  </section>
