

  <section class="top-section">
    <div class="logo col-md-6 col-md-offset-3">
      <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg") %>
      <!-- <h1 class="headline">Share your best Canadian memory for a chance to win [prize]!</h1> -->
    </div>
  </section>

  <section class="your-adventure">
    <div class="brackets col-md-7 col-md-offset-1">
      <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483453823/Section2_Brackets-01_x2wsgv.png") %>
      <div class="bracket-text">
        <h1>YOUR CANADA.<br>
            YOUR ADVENTURE.</h1>
        <h4>Mauris fermentum dui eu luctus tempus. Vivamus viverra tincidunt turpis a tristique. Quisque fringilla efficitur lectus, sit amet rutrum risus tincidunt eget. Sed eu turpis malesuada, placerat turpis eget, pellentesque elit. Phasellus vestibulum, enim fermentum pretium ullamcorper, neque erat condimentum tellus, sed rutrum dui erat at diam.</h4>
      </div>
    </div>
  </section>

  <section class="enter-to-win">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <ul class="rules">
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                  <p>Sign Up<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                  <p class="instructions">Submit Your entry with a photo & story - don't forget to choose a filter<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                  <p class="instructions">Visit your profile for ways to share and promote your submission<p>
                </div>
              </div>
            </li>
            <li class="rules-text">
              <div class="row">
                <div class="col-md-2">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                  <p>Watch your votes go up!<p>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="col-md-5">
          <h1 id="enter-now">ENTER TO WIN</h1>
          <p class="below">Sign up below to get started!</p>
          <div class="signup-form">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="choose-canada">
    <div class="container-fluid">
      <div class="green-board">
        <div class="col-md-8 col-md-offset-2 board-text">
          <h2>CHOOSE YOUR CANADA</h2>
          <h1>CAST YOUR VOTE</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid entries-last-six">
    <div class="row flex-md-top">
    <% @entries.last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-middle">
    <% @entries.offset(2).last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
    </div>
    <div class="row flex-md-bottom">
    <% @entries.offset(4).last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
    </div>
  </section>

  <section class="more-posts">
    <div class="more-posts-button">
      <%= link_to "More Posts", entries_path %>
    </div>
  </section>

  <section class="tourism-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Tourism Product Info Tease</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, sem sed convallis finibus, nunc neque dictum metus, sed interdum felis ante quis urna. Nulla ut arcu nibh. </h4>
        <div class="field footer-input">
          <input placeholder="Email">
        </div>
        <div class="col-md-6 col-md-offset-3">
          <h3>Send Me Tourist Info.</h3>
        </div>
      </div>
      </div>
    </div>
  </section>
