
<% if current_user %>

<div class="container">

  <h1> Welcome back, <%= current_user.name %> ! </h1>

</div>

<% else %>


  <section class="top-section">
    <div class="logo col-md-6 col-md-offset-3">
      <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483451983/RTO12Logo_Angled-01_a4euwt.svg") %>
    </div>
  </section>

  <section class="your-adventure">
    <div class="brackets col-md-7 col-md-offset-1">
      <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483453823/Section2_Brackets-01_x2wsgv.png") %>
      <div class="bracket-text">
        <h1>YOUR CANADA.<br>
            YOUR ADVENTURE.</h1>
        <h4>Mauris fermentum dui eu luctus tempus. Vivamus viverra tincidunt turpis a tristique. Quisque fringilla efficitur lectus, sit amet rutrum risus tincidunt eget. Sed eu turpis malesuada, placerat turpis eget, pellentesque elit. Phasellus vestibulum, enim fermentum pretium ullamcorper, neque erat condimentum tellus, sed rutrum dui erat at diam.</h4>
      </div>
    </div>
  </section>

  <section class="enter-to-win">
    <h1>ENTER TO WIN</h1>
    <div class="signup-form">
      <%= render 'form' %>
    </div>
  </section>

  <section class="choose-canada">
    <div class="container-fluid">
      <div class="green-board">
        <div class="col-md-8 col-md-offset-2 board-text">
          <h2>CHOOSE YOUR CANADA</h2>
          <h1>CAST YOUR VOTE</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="entries-last-six">
    <div class="row flex-md-top">
    <% @entries.last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
    <div class="row flex-md-middle">
    <% @entries.offset(2).last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
    <div class="row flex-md-bottom">
    <% @entries.offset(4).last(2).each do |entry| %>
      <div class="col-md-6 image-block">
        <%= image_tag(entry.filter) %>
      </div>
    <% end %>
  </section>

  <section class="more-posts">
    <div class="more-posts-button">
      <%= link_to "More Posts", entries_path %>
    </div>
  </section>

<% end %>
