<h1>YOUR PROFILE</h1>

<h2>Your entry submission:</h2>
  <% if @user.entry %>
  <!-- if the user has chosen filter already -->
    <% if @user.entry.filter %>
      <%= image_tag(@user.entry.filter) %>
      <%= @user.entry.story %>
  <!-- if no filter has been chosen -->
    <% else %>
      <div id="entry_image">
        <%= image_tag(@user.entry.avatar_url) %>
      </div>
      <%= @user.entry.story %>

      <div class="buttons-container">
         <span class="filter-button">al_dente</span>
         <span class="filter-button">athena</span>
         <span class="filter-button">audrey</span>
         <span class="filter-button">aurora</span>
         <span class="filter-button">daguerre</span>
         <span class="filter-button">eucalyptus</span>
         <span class="filter-button">fes</span>
      </div>

      <div>

      <% if @user.entry %>
        <%= form_for @user.entry, :method => :PUT do |f| %>
          <%= f.text_field :filter, id: "hidden-filter-send" %>
          <%= f.submit 'Save Filter', id: "save-filter" %>
        <% end %>
      <% end %>
      <!-- end of form -->

    <% end %>
    <!-- end of condition of whether filter exists -->

    <%= link_to 'Edit Entry', edit_entry_path(@user.entry) %>

    <% else %>
    <h1> You have not created your entry yet</h1>

  <% end %>
  <!-- end of condition of whether entry exists -->

<% if @user.vote %>
  <h1> You voted for: </h1>

    <%= link_to image_tag(@user.vote.entry.filter), entry_path(@user.vote.entry) %>
    <%= link_to "Remove Vote", "/entries/#{@user.vote.entry_id}/votes/#{@user.vote.id}", method: :delete, data: {confirm: 'Are you sure?'} %>


<% end %>

<div>
