<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


  <% if @user.entry %>

    <%= image_tag(@user.entry.filter) %>
    <div id="entry_image">
      <%= image_tag(@user.entry.avatar_url) %>
    </div>
    <%= @user.entry.avatar.url %>
    <%= @user.entry.story %>

    <%= link_to 'Edit Entry', edit_entry_path(@user.entry) %>

    <% else %>
    <h1> You have not created your entry yet</h1>

  <% end %>



<div class="buttons-container">
   <span class="filter-button">al_dente</span>
   <span class="filter-button">athena</span>
   <span class="filter-button">audrey</span>
   <span class="filter-button">aurora</span>
   <span class="filter-button">daguerre</span>
   <span class="filter-button">eucalyptus</span>
   <span class="filter-button">fes</span>
</div>

<div>

<% if @user.entry %>
  <%= form_for @user.entry, :method => :PUT do |f| %>
    <%= f.text_field :filter, id: "hidden-filter-send" %>
    <%= f.submit 'Save Filter', id: "save-filter" %>
  <% end %>

<% end %>
<div>
