<% if @user.entry %>
<!-- if an entry exists -->

<div class="container-fluid entry-show-main">

  <div class="col-md-8 col-md-offset-2 this-is">
    <div class="row this-is-row">
      <div class="col-md-2 left-bracket">
        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483477142/Brackets-05_vx1mwe.svg") %>
      </div>
      <div class="col-md-4 this-is-text">
        <h1>This is<br>
            Your</h1>
      </div>
      <div class="col-md-4 maple-leaf">
        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483475882/RTO12Logo_01-03_qybe52.svg") %>
      </div>
      <div class="col-md-2 right-bracket">
        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483477142/Brackets-08_inh4io.svg") %>
      </div>
    </div>
  </div>
<!-- if the entry has a filter already -->
  <% if @user.entry.filter %>

  <style media="screen">
    .entry-show-main { background-image: url(<%= @user.entry.filter %>); }
  </style>

</div>

<div class="container-fluid user-show-main-bottom">
  <div class="row your-entry">
  </div>
  <div class="row user-show-bottom">
    <div class="col-md-5 col-md-offset-1 entry-image-focus">
      <% if @user.entry.filter %>
        <%= image_tag(@user.entry.filter) %>
      <% else %>
        <%= image_tag(@user.entry.avatar_url) %>
      <% end %>
    </div>
    <div class="col-md-5 user-story">
      <%= @user.entry.story %><br>
      <div class="submit-button">
        <%= link_to 'Edit Entry', edit_entry_path(@user.entry) %>
      </div>
      <div class="vote-count">
        <h1>Total Votes: <%= @user.entry.votes.count %></h1>
        <div class="row">
          <div class="col-md-4 sharing">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <div class="col-md-8"><h4>Share your entry and receive 10 extra votes!</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid share-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 take-the-quiz">
      <div class="test-your-knowledge">
        <h2>TEST YOUR CANADIANA KNOWLEDGE & RECEIVE 10 EXTRA VOTES</h2>
        <button>TAKE THE QUIZ</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid challenge-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="test-your-knowledge">
        <h2>CHALLENGE YOUR FRIENDS FOR 5 EXTRA VOTES</h2>
        <button>SHARE CHALLENGE</button>
      </div>
    </div>
  </div>
</div>


  <% else %>

<!-- if no filter exists -->
  <style media="screen">
    .entry-show-main { background-image: url(<%= @user.entry.avatar_url %>); }
  </style>

</div>


    <div class="col-md-6 col-md-offset-1">
      <div id="entry_image">
        <%= image_tag(@user.entry.avatar_url) %>
      </div>
      <div class="buttons-container">
         <button class="filter-button">al_dente</button>
         <button class="filter-button">athena</button>
         <button class="filter-button">aurora</button>
         <button class="filter-button">daguerre</button>
         <button class="filter-button">eucalyptus</button>
         <button class="filter-button">fes</button>
      </div>


      <% if @user.entry %>
        <%= form_for @user.entry, :method => :PUT do |f| %>
          <%= f.hidden_field :filter, id: "hidden-filter-send" %>
          <%= f.submit 'Save Filter', id: "save-filter" %>
        <% end %>
      <% end %>
      <!-- end of form -->
    </div>

<!-- end of main container div -->

<div class="container-fluid filter-background">

      <div class="row">
        <div class="col-md-5 story-column">
          <div class="story">
            <%= @user.entry.story %>
          </div>
          <div class="submit-button">
            <%= link_to 'Edit Entry', edit_entry_path(@user.entry) %>
          </div>
          <div class="vote-count">
            <h1>Total Votes: <%= @user.entry.votes.count %></h1>
            <div class="sharing">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <h2>Share your entry and receive 10 extra votes!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="container-fluid share-section">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 take-the-quiz">
            <div class="test-your-knowledge">
              <h2>TEST YOUR CANADIANA KNOWLEDGE & RECEIVE 10 EXTRA VOTES</h2>
              <button>TAKE THE QUIZ</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid challenge-section">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="test-your-knowledge">
              <h2>CHALLENGE YOUR FRIENDS FOR 5 EXTRA VOTES</h2>
              <button>SHARE CHALLENGE</button>
            </div>
          </div>
        </div>
      </div>

    <% end %>
    <!-- end of if statement whether filter exists -->


    <% else %>

    <div class="container-fluid create-your-entry">
      <div class="col-md-8 col-md-offset-1 user-share-memory">
        <h1>Share your best Canadian memory for a chance to win [prize]!</h1>
        <button class="submit-button"><a href="/entries/new">ENTER NOW</a></button>
      </div>
    </div>

  <% end %>

</div>
  <!-- end of condition of whether entry exists -->

<% if @user.vote %>

  <div class="container-fluid thanks-for-voting">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h1 class="thankyou ty-top">Thank you for voting!</h1>
        <h1 class="thankyou"> You voted for: </h1>
        <h1 class="thankyou"><%= @user.vote.entry.name %></h1>
        <span class="submit-button"><%= link_to "Remove Vote", "/entries/#{@user.vote.entry_id}/votes/#{@user.vote.id}", method: :delete, data: {confirm: 'Are you sure?'} %></span>
      </div>
      <div class="col-md-5">
        <%= link_to image_tag(@user.vote.entry.filter), entry_path(@user.vote.entry) %>
      </div>
    </div>
  </div>

  <% else %>

  <div class="container-fluid thanks-for-voting">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h1 class="thankyou ty-top">Don't forget to cast your vote!</h1>
        <button class="submit-button"><a href="/entries">VOTE NOW</a></button>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>


<% end %>
