<!DOCTYPE html>
<html>
  <head>
    <title>MuskokaApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9f06b3d066.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485127243/Explorers-edge-canada150-logo-01_lgonfj.svg") %></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                <li id="/"><%= link_to 'Home', root_path %></li>
                <li id="new">
                  <% if current_user %>
                    <%= link_to 'Enter', new_entry_path %>
                  <% else %>
                    <%= link_to 'Enter', "#enter-now", id:"enter-nav-scroll" %>
                  <% end %>
                </li>
                <li id="entries"><%= link_to 'Vote', entries_path %></li>
                <li id="about"><%= link_to 'About', about_path %></li>

                    <% if current_user %>
                    <li id="users" class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.name %><span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'Profile', user_path(current_user) %></li>
                        <li><%= link_to 'Logout', session_path("current"), :method => :delete %></li>
                      </ul>
                    </li>
                    <% else %>
                    <li id="sessions/new"><%= link_to 'Login', new_session_path %></li>
                    <!-- Will lead to Login Page/ render partial for signup -->
                    <% end %>

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>



    <%= yield %>

    <section id="footer" class="footer">
            <div class="container">
        		<center>
        		<div class="container">
        		    <div class="well-sm main-footer">
        		        <div class="row">
        		            <div class="col-md-12">
        		                <div class="row footer-row">
        		                    <div class="col-md-4 left-side">
        		                        <h4 class="title-footer">
        		                            Questions? Please contact us.</h4>

                                        <h4>E: <a href="mailto:xxxxx@muskoka.com">xxxxxx@gmail.com</a></h4>
                                        <h4>T: <a href="#">(416) 123-4567</a></h4>
        		                    </div><!--end .col-md-4-->
        		                    <div class="col-md-4 contact-email">

        		                        <h4>
        		                            © Copyright Show Us Your Canada 2017</h4>
                                        <a href="http://instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="http://facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="http://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
        		                    </div><!--end .col-md-4 .contact-email-->
        		                    <div class="col-md-4">
        		                        <div class="row contact row-first">
                                        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485149140/white_ee_atvb4d.png", class:"ee") %>
                                        <%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1485148734/ontario_white_on_black_uei7oe.png") %>
        		                        </div><!--end .row .contact-->
        		                    </div><!--end .col-md-6-->
        		                </div><!--end .row-->
        		            </div><!--end .col-md-12-->
        		        </div><!--end .row-->
        		    </div><!--end .well .well-sm .main-footer-->
        		</div><!--end .container-->
        		</center>
        	</div><!--end .container-->
        </section><!--end #footer-->

    <!-- <div class="footer">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 footer-content">
          <span class="explorer-bottom"><%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483642119/Explorers_Edge_shvnae.jpg") %></span>
          <span class="ontario-bottom"><%= image_tag("http://res.cloudinary.com/dx3z90dgl/image/upload/v1483724870/ontario_white_on_black_oltpxc.png") %></span>
          <p>Copyright 2017 Explorer's Edge</p>
          <p>Questions? Please contact us.</p>
          <p>T: (416) 123-4567</p>
          <p>E: xxxxxx@gmail.com</p>
        </div>
      </div>
    </div> -->

  </body>
</html>
