<!DOCTYPE html>
<html>
  <head>
    <title>MuskokaApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9f06b3d066.js"></script>
  </head>

  <body>
      <ul class="nav nav-pills navbar-right">
        <li role="presentation">
          <% if current_user %>
            <%= link_to 'Home', user_path(current_user) %>
          <% else %>
            <%= link_to 'Home', root_path %>
          <% end %>
        </li>
        <li role="presentation"><%= link_to 'Enter', new_entry_path %></li>
        <!-- Will lead to User#New -->
        <li role="presentation"><%= link_to 'Vote', entries_path %></li>
        <!-- Will lead to Entries#Index -->
        <li role="presentation"><%= link_to 'About', about_path %></li>
        <!-- Will lead to Description Page -->
        <% if current_user %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %><span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
          <li role="presentation"><%= link_to 'Profile', user_path(current_user) %></li>
          <li role="presentation"><%= link_to 'Logout', session_path("current"), :method => :delete %></a></li>
        </ul>
        <% else %>
        <li role="presentation"><%= link_to 'Login', new_session_path %>
        <!-- Will lead to Login Page/ render partial for signup -->
        <% end %>
      </ul>

    <%= yield %>


    <div class="footer">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1>Tourism Product Info Tease</h1>
          <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, sem sed convallis finibus, nunc neque dictum metus, sed interdum felis ante quis urna. Nulla ut arcu nibh. </h4>
          <div class="field footer-input">
            <input placeholder="Email">
          </div>
          <div class="col-md-6 col-md-offset-3">
            <h3>Send Me Tourist Info.</h3>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
